<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Ciao {{ word }}</h1>

      <div>
        <button @click="generateNumbers">Genera numeri</button>
        <div>{{num1}}</div>
        <div>{{num2}}</div>

        <div>{{ getResult() }}</div>
      </div>

      <div>
        <button @click="generateArray">Genera array</button>

        <p v-if="isLoading">Loading...</p>

        <ul>
          <li v-for="num in numsArray">{{num}}</li>
        </ul>
      </div>
    </div>

    <!-- axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
      integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- custom script -->
    <script src="./js/script.js"></script>
  </body>
</html>
